:root {
    --color-primary: #901C1C;
    --colors-secondary: #DB8876;
}

#carousel_modal{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    padding: 2.4rem;
    overflow-y: scroll;
    background-color: rgba(256, 256, 256, 0.9);
    transition: .2s;
}

.modal-carousel{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.btn-carousel {
    background-color: transparent;
    border: none;
}

.close-carousel {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 2em;
}

.list-carousel {
    width: 90%;
    padding: 0 10px;
    margin: 10px auto;
}

.icon-carousel{
    color: var(--color-primary);
    font-size: 2em;
    cursor: pointer;
}

.media-carousel {
    height: 80vh;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.title-img-carousel {
    font-weight: 400;
    color: var(--color-primary);
    font-size: 1.5em;
}