* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

a{
    text-decoration:none;
}

/************************* Header *************************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/************************* Main *************************/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.div-info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 30%;
}

.div-contact_button {
    width: 30%;
}

.div-info-title {
    font-size: 4em;
    color: #D3573C;
}

.div-info-adress {
    font-size: 1.5em;
    color: #901C1C;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-info-citation {
    quotes: none;
    font-size: 1.125em;
}

.div-img {
    width: 30%;
}

.div-img-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.contact_button:hover, .contact_button:focus{
    background-color: #DB8876;
    color: #000;
    outline: none;
}

/************************* Oeuvres *************************/
.div-select {
    margin: 20px 100px;
}

.label-select {
    font-weight: 700;
    font-size: 1.125em;
    margin-right: 15px;
}

.select-options {
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.125em;
    appearance: none;
    transition: all 0.4s;
    background: #901C1C;
}

.select-options:hover, .select-options:focus {
    background-color: #DB8876;
    color: #000;
    outline: none;
}

.medias-section {
    margin: 20px 100px;
}

.medias-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.li-media-item{
    width: 27%;
}

.article-media{
    position: relative;
}

.image-media {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.article-media::before {
    content: '';
    position: absolute;
    background-color: rgba(196, 196, 196, 0.2);
    height: 300px;
    width: 100%;
    top: 0;
    border-radius: 5px;
    cursor: pointer;
}

.div-info-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    color: #901C1C;
}

.text-media {
    font-weight: 400;
    font-size: 1.1em;
    margin-right: 10px;
}

.number-likes {
    display: flex;
    align-items: center;
}

.icon-media {
    margin-left: 10px;
    cursor: pointer;
}

.likes-price {
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 80px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 5px 5px 0 0;
}

.icon-likes {
    margin-right: 40px;
    margin-left: 5px;
}

/************************* Modal *************************/
#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}


/************************* Form *************************/
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}