:root {
    --color-primary: #901C1C;
    --colors-secondary: #D3573C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

a{
    text-decoration:none;
}

/*********************** Header ***********************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.title-home-page {
    color: var(--color-primary);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    width: 200px;
}

/******************** Section photographes ********************/
.list-photographers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article a {
    text-align: center;
    transition: all 0.4s;
}

.article a:hover > .article-img{
    box-shadow: 0 0 15px #000;
    transform: scale(1.05);
}

.article a:hover > .article-title {
    color: var(--color-primary);
}

.article a:focus {outline: none;}

.article a:focus > .article-img{
    box-shadow: 0 0 15px #000;
    transform: scale(1.05);
}

.article a:focus > .article-title {
    color: var(--color-primary);
}

.article-title {
    color: var(--colors-secondary);
    font-size: 2.25em;
    margin-top: 20px;
    transition: all 0.4s;
}

.article-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.4s;
}

.article-adress{
    color: var(--color-primary);
    font-weight: 400;
    font-size: 0.813em;
}

.article-citation {
    quotes: none;
    margin: 5px 0;
    font-size: 0.625em;
}

.article-price {
    color: #757575;
}

/******************** Responsive ********************/

@media screen and (max-width: 994px) {
    .list-photographers {
        grid-template-columns: 1fr 1fr;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 110px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .logo {
        margin-left: 0;
    }

    .title-home-page {
        margin-right: 0;
    }
    
    .list-photographers {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .list-photographers {
        grid-template-columns: 1fr;
    }
}