* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.title-home-page {
    color: #901C1C;
    margin-right: 100px;
}

ul {
    list-style-type: none;
}

a{
    text-decoration:none;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.list-photographers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.list-photographers a:focus {
    box-shadow: 0 0 15px #000;
}

.article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article a {
    text-align: center;
    transition: all 0.4s;
}

.article a:hover{
    box-shadow: 0 0 15px #000;
}

.article-title {
    color: #D3573C;
    font-size: 2.25em;
    margin-top: 20px;
}

.article-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.article-adress{
    color: #901C1C;
    font-weight: 400;
    font-size: 0.813em;
}

.article-citation {
    quotes: none;
    margin: 5px 0;
    font-size: 0.625em;
}

.article-price {
    color: #757575;
}